<div class="main">
    <h3 style="color: #FFFFFF; font-family: sans-serif;">What's happening in BYTE?</h3>
    <div style="gap:10px; display: flex; flex-direction: column; overflow-y: scroll;">
        <div style="gap:3px; display: flex; flex-direction: row; color: #FFFFFF;font-family: sans-serif;">
            <div>-</div>
            <div>
                <div style="font-size: 14px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                <div style="color: rgba(255, 255, 255, 0.40); font-size: 10px;">Date: XX-XX-XXXX Time XX:XX</div>
            </div>
        </div>
        <div style="gap:3px; display: flex; flex-direction: row; color: #FFFFFF;font-family: sans-serif;">
            <div>-</div>
            <div>
                <div style="font-size: 14px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                <div style="color: rgba(255, 255, 255, 0.40); font-size: 10px;">Date: XX-XX-XXXX Time XX:XX</div>
            </div>
        </div>
        <div style="gap:3px; display: flex; flex-direction: row; color: #FFFFFF;font-family: sans-serif;">
            <div>-</div>
            <div>
                <div style="font-size: 14px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                <div style="color: rgba(255, 255, 255, 0.40);font-size: 10px;">Date: XX-XX-XXXX Time XX:XX</div>
            </div>
        </div>
        <div style="gap:3px; display: flex; flex-direction: row; color: #FFFFFF;font-family: sans-serif;">
            <div>-</div>
            <div>
                <div style="font-size: 14px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                <div style="color: rgba(255, 255, 255, 0.40);font-size: 10px;">Date: XX-XX-XXXX Time XX:XX</div>
            </div>
        </div>
    </div>
</div>
