<div class="main">
    <div style="width: 100%; height: 1px; background: #FFF;"></div>
    <app-left-side-menu-bar-button 
    [buttonText]="'Home'"
    [isActive]="activeButtonText === 'Home'"
    (click)="setActiveButton('Home')"
    ></app-left-side-menu-bar-button>
    <app-left-side-menu-bar-button 
    [buttonText]="'Pomodoro'"
    [isActive]="activeButtonText === 'Pomodoro'"
    (click)="setActiveButton('Pomodoro')"
    ></app-left-side-menu-bar-button>
    <app-left-side-menu-bar-button 
    [buttonText]="'Your Tasks'"
    [isActive]="activeButtonText === 'Your Tasks'"
    (click)="setActiveButton('Your Tasks')"
    ></app-left-side-menu-bar-button>
    <app-left-side-menu-bar-button 
    [buttonText]="'Calendar'"
    [isActive]="activeButtonText === 'Calendar'"
    (click)="setActiveButton('Calendar')"
    ></app-left-side-menu-bar-button>
    <div style="width: 100%; height: 1px; background: #FFF;"></div>
    <app-left-side-menu-bar-button 
    [buttonText]="'Projects & Events'"
    [isActive]="activeButtonText === 'Projects & Events'"
    (click)="setActiveButton('Projects & Events')"
    ></app-left-side-menu-bar-button>
    <app-left-side-menu-bar-button 
    [buttonText]="'Archives'"
    [isActive]="activeButtonText === 'Archives'"
    (click)="setActiveButton('Archives')"
    ></app-left-side-menu-bar-button>
    <div style="width: 100%; height: 1px; background: #FFF;"></div>
    <app-left-side-menu-bar-button 
    [buttonText]="'Leaderboard'"
    [isActive]="activeButtonText === 'Leaderboard'"
    (click)="setActiveButton('Leaderboard')"
    ></app-left-side-menu-bar-button>
    <app-left-side-menu-bar-button 
    [buttonText]="'Wanna Share Something Forum?'"
    [isActive]="activeButtonText === 'Wanna Share Something Forum?'"
    (click)="setActiveButton('Wanna Share Something Forum?')"
    ></app-left-side-menu-bar-button>
    <div style="width: 100%; height: 1px; background: #FFF;"></div>
</div>