<div class="main">
    <div>Your Tasks & Meeting</div>
    <div style="display: flex;flex-direction: column; overflow-y: scroll; height: 100%;">
        <div style="display: flex;flex-direction: row; gap: 6px;">
            <div style="align-content: center;">
                <input type="checkbox">
            </div>
            <div style="display: flex; flex-direction: column;">
                <div>Progress Discussion Meet | Stealth Bit</div>
                <div>6:00pm | 18 Jan’22 | Lab - 105</div>
                <div>Organized By :- Tanush at 10:00am | 13 Jan’22 </div>
            </div>
            <div></div>
        </div>
    </div>
</div>